.container{
  margin: 5%;
}
.disp{
  display: block;
}
.texDiv{
  background-color: aqua;
  width: 20%;
  height: 25px;
  border: 1px solid green;
  text-align: center;
  margin-left: 40%;
  margin-top: 10%;
}